@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.login-body {
    background-color: $dark
}

.login-container {
    .login-inner {
        width: 800px;
        img {
            object-position: center;
            height: 200px;
            @media (max-width: 767px) {
                border-radius: 10px;
            }
        }

        .btn-primary {
            margin-bottom: 20px;
        }

        #errorDisplay {
            color: red;
        }

        #successDisplay {
            color: green;
        }
    }
}

.image-container {
    width: 150px;
    height: 150px;
   
    img {
        object-position: center;
    }

    .circleProfile {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: rgb(255 255 255);
        color: #000000;
        font-size: 30px;
    }
}

.followers-list {
    li {
        list-style: none;
        .follower-image-container {
            width: 50px;
            height: 50px;
            background-color: $dark;
        }

        .follower-image-content {
            p {
                &:last-child {
                    color: rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
}

.actions-container {
    img {
        max-width: 35px;
        &:first-child {
            margin-right: 10px;
        }
    }
}

.sidebar {
    .sideBarInner {
        background-color: #fbf1f2;

        @media (min-width: 768px) {
            min-height: 100vh;
        }
    }
}

.create-post {
    background: #FAFAFA;
    border-radius: 20px;
    padding: 30px;
}

#postListContainer .card {
    position: relative;
    .dropdown {
        position: absolute;
        top: 10px;
        right: 10px;

        .dropdown-toggle {
            display: flex;
            background-color: rgba(0, 0, 0, 0.4);
            border: 0px;
            border-radius: 4px;
            padding-top: 10px;
            padding-bottom: 10px;

            &::after {
                display: none;
            }

            span {
                display: block;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: #FFFFFF;
                margin-right: 3px;

                &:last-child {
                    margin-right: 0px;
                }
            }
        }

        .dropdown-menu li {
            cursor: pointer;
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}

#searchSubmitBtn {
    height: 36px;
}

.imageUser {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(33, 112, 75);
    color: #ffffff;
    font-size: 12px;
}

.tagsContainer span {
    cursor: pointer;
}

.closeEndpointError {
    color: red;
    padding-right: 10px;
    cursor: pointer;
}

#createDisplayError, #updateDisplayError  {
    color: red;
}
